.glass-card {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 2rem;
    height: 400px;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    border-left: 1px solid rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(6px);
}