.glass-contact-card {
    z-index: 10;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}

.image-container {
    width: 6rem;
    /* Padding */
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.cust-border {
    border-bottom: 2px solid rgba(157, 151, 151, 0.669);
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
}

.card-info-secondary {
    opacity: 70%;
    font-size: 0.8rem;
}

.placeholder-image {
    width: 110%;
    height: 110%;
    opacity: 50%;
    color: #fff;
    margin: 0;
    padding: 0;
}